{% extends "base.html" %}


{% block content %}


        <div class="ui-body ui-body-a ui-corner-all">
            <h3>{{ _('Invite to') }} Gomorronsol</h3>
            <label for="textarea-invitees">{{ _('Add emails to invite to ') }} Gomorronsol group:</label>
            <textarea name="textarea-enhanced" id="textarea-invitees" data-enhanced="true" class="ui-input-text ui-shadow-inset ui-body-inherit ui-corner-all" placeholder="{{ _('separate emails by comma sign') }} (,) "></textarea>
            <input type="button" class="act-send-invites" value="{{ _('Send invites') }}">
            <input type="button" class="act-invite-nextstep clsnextstep" value="{{ _('Next step') }}">
        </div>



{% endblock %}