{% extends "base.html" %}


{% block content %}


    <!-- Actions -->
        <div class="ui-body ui-body-a ui-corner-all">
            <fieldset data-role="controlgroup">
            <h3>{{ _('Show-ups') }}</h3>
                <div class="ui-field-contain">
                    <label for="showup-chosen-date">{{ _('Choose date') }}:</label>
                    <input type="date" data-clear-btn="true" name="date-2" id="showup-chosen-date" value="2016-11-23">
                </div>

                <input type="checkbox" name="checkbox-v-2a" id="checkbox-user-1" data-user-id="1" class="cls-workday-date">
                <label for="checkbox-user-1">Jimmy</label>
                <input type="checkbox" name="checkbox-v-2b" id="checkbox-user-2" data-user-id="2">
                <label for="checkbox-user-2">Nikhil</label>
                <input type="checkbox" name="checkbox-v-2c" id="checkbox-user-3" data-user-id="3">
                <label for="checkbox-user-3">Eva</label>
            </fieldset>
                <button id="confirm-showups" class="ui-btn ui-shadow ui-corner-all ">{{ _('Confirm') }}</button>
        </div>



{% endblock %}



{% block afterinclude %}
    <script src="/static/js/workday/showups.js"></script>
{% endblock %}