{% extends "base.html" %}


{% block content %}


    <!-- Actions -->
        <div class="ui-body ui-body-a ui-corner-all">
            <h3>{{ _('Work-day') }}</h3>
            <input type="button" data-icon="edit" value="{{ _('Create work-day') }}">
            <div data-role="controlgroup" data-type="horizontal">
                <a href="#" class="ui-btn ui-corner-all ui-icon-delete ui-btn-icon-right">{{ _('On') }} 8th Dec, {{ _('2 stand-ins needed between') }} 9 AM till 4:30 PM</a>
            </div>

            <input type="button" class="act-workday-nextstep clsnextstep" value="{{ _('Next step') }}">
        </div>



{% endblock %}

{% block afterinclude %}
    <script src="/static/js/workday/workday.js"></script>
{% endblock %}
