{% extends "base.html" %}


{% block content %}
<div class="ui-body ui-body-a ui-corner-all">
            <h3>{{ _('Switch days - swap days with other families') }}</h3>
 <div data-role="collapsible">
     <legend>{{ _('Your days') }} - {{ _('Choose your days which you want to switch ') }}</legend>
        <fieldset data-role="controlgroup">
            <input type="checkbox" name="checkbox-v-2a" id="checkbox-v-2a">
            <label for="checkbox-v-2a">20th Oct</label>
            <input type="checkbox" name="checkbox-v-2a" id="checkbox-v-2b">
            <label for="checkbox-v-2b">29th Oct</label>
            <input type="checkbox" name="checkbox-v-2a" id="checkbox-v-2c">
            <label for="checkbox-v-2c">5th Nov</label>
        </fieldset>

</div>

 <div data-role="collapsible">
     <legend>{{ _('Switch pool') }} - {{ _('Dates available for swap') }}</legend>
        <fieldset data-role="controlgroup">
            <input type="checkbox" name="checkbox-v-2a" id="checkbox-v-2g">
            <label for="checkbox-v-2g">20th Oct</label>
            <input type="checkbox" name="checkbox-v-2a" id="checkbox-v-2h">
            <label for="checkbox-v-2h">29th Oct</label>
            <input type="checkbox" name="checkbox-v-2a" id="checkbox-v-2i">
            <label for="checkbox-v-2i">5th Nov</label>
        </fieldset>
</div>
    </div>
{% endblock %}


{% block afterinclude %}
    <script src="/static/js/switchday/switchday.js"></script>
{% endblock %}