/* CHANGE COLOR HERE */
ol.etapier li.done {
  border-color: yellowgreen ;
}
/* CHANGE COLOR HERE */
ol.etapier li.done:before {
    background-color: yellowgreen;
    border-color: yellowgreen;
}


ol.etapier {
    display: table;
    list-style-type: none;
    margin: 0 auto 20px auto;
    padding: 0;
    table-layout: fixed;
    width: 100%;
}
ol.etapier li {
    display: table-cell;
    text-align: center;
	padding-bottom: 10px;
    white-space: nowrap;
    position: relative;
}

ol.etapier li a {
	color: inherit;
}

ol.etapier li {
    color: silver;
    border-bottom: 4px solid silver;
}
ol.etapier li.done {
    color: black;
}

ol.etapier li:before {
    position: absolute;
    bottom: -11px;
    left: 50%;
    margin-left: -7.5px;

    color: white;
    height: 15px;
    width: 15px;
    line-height: 15px;
    border: 2px solid silver;
    border-radius: 15px;

}
ol.etapier li.done:before {
    content: "\2713";
    color: white;
}
ol.etapier li.todo:before {
    content: " " ;
    background-color: white;
}