# deploy using calanderX virtualenv on mac air
argcomplete
base58
boto3
botocore
certifi
cfn-flip
chardet
click
docutils
durationpy
dynamo3==0.4.10
Flask
Flask-Cors
flywheel
future
futures
hjson
idna
itsdangerous
Jinja2
jmespath
kappa
lambda-packages
MarkupSafe
placebo
python-dateutil
python-slugify
PyYAML
requests
s3transfer
six
toml
tqdm
troposphere
Unidecode
urllib3
Werkzeug
wsgi-request-logger
zappa