{% extends "base.html" %}


{% block content %}


    <!-- Actions -->
        <div class="ui-body ui-body-a ui-corner-all">
            <h3>{{ _('Kids per term at Gomorronsol') }}</h3>
            <a href="#" class="ui-btn ui-corner-all ui-icon-check ui-btn-icon-right">VT2016 (Jan-Jul 2016) : 1 {{ _('kid') }}</a>
            <a href="#" class="ui-btn ui-corner-all ui-icon-check ui-btn-icon-right">HT2016 (Aug-Sept 2016) : 2 {{ _('kids') }}</a>

        </div>



{% endblock %}


{% block afterinclude %}
    <script src="/static/js/term/children.js"></script>
{% endblock %}
