{% extends "base.html" %}


{% block content %}


    <!-- Actions -->
        <div class="ui-body ui-body-a ui-corner-all">
            <h3>{{ _('Term') }}</h3>
            <input type="button" data-icon="edit" value="{{ _('Create term') }}">
            <div class="ui-body ui-body-a ui-corner-all">
                <h3>VT 2016 ( Jan to Jul 2016 ) - {{ _('Total kids: 31') }}</h3>
                <ul data-role="listview">
                    <li>{{ _('15 families with 1 kids') }}</li>
                    <li>{{ _('5 families with 2 kids') }}</li>
                    <li>{{ _('2 families with 3 kids') }}</li>
                </ul>
            </div>
            <input type="button" class="act-term-nextstep clsnextstep" value="{{ _('Next step') }}">
        </div>



{% endblock %}


{% block afterinclude %}
    <script src="/static/js/term/term.js"></script>
{% endblock %}
