{% extends "base.html" %}

{% block content %}

    <!-- Actions -->
        <div class="ui-body ui-body-a ui-corner-all">
            <h3>{{ _('Rule - formula for work allocation') }}</h3>
            <div data-role="controlgroup">
                <h4>{{ _('Stand-in day rule') }}:</h4>
                <button class="ui-btn ui-shadow ui-corner-all ">{{ _('Family with 1 kid') }} @ 1 {{ _('day') }}</button>
                 <button class="ui-btn ui-shadow ui-corner-all ">{{ _('Family with 2 kids') }} @ 2 {{ _('days') }}</button>
                 <button class="ui-btn ui-shadow ui-corner-all ">{{ _('Family with 3 kids') }} @ 2.2 {{ _('days') }}</button>
               </div>
             <div data-role="controlgroup">
                <h4>{{ _('Work day rule') }}:</h4>
                <button class="ui-btn ui-shadow ui-corner-all ">{{ _('Family with 1 kid') }} @ 1 {{ _('day') }}</button>
                 <button class="ui-btn ui-shadow ui-corner-all ">{{ _('Family with 2 kids') }} @ 1.2 {{ _('days') }}</button>
                 <button class="ui-btn ui-shadow ui-corner-all ">{{ _('Family with 3 kids') }} @ 1.4 {{ _('days') }}</button>
            </div>

            <input type="button" class="act-rule-nextstep clsnextstep" value="{{ _('Next step') }}">
        </div>



{% endblock %}