{% extends "base.html" %}

{% block content %}

    <!-- Actions -->
        <div class="ui-body ui-body-a ui-corner-all">
            <h3>{{ _('Rule - formula for work allocation') }}</h3>
            <div data-role="collapsible" data-mini="true">
                <h4>{{ _('Stand-in day rule') }}:</h4>

                    <label for="standin-rule-1">{{ _('Family with 1 kid') }}</label>
                    <input id="standin-rule-1" data-mini="true" type="number" class="cls-rule-value" placeholder="1">
                    <label for="standin-rule-2">{{ _('Family with 2 kids') }}</label>
                    <input id="standin-rule-2" data-mini="true" type="number" class="cls-rule-value" placeholder="2">
                    <label for="standin-rule-3">{{ _('Family with 3 kid') }}</label>
                    <input id="standin-rule-3" data-mini="true" type="number" class="cls-rule-value" placeholder="2.2">
            </div>
            <div data-role="collapsible" data-mini="true">
                <h4>{{ _('Work day rule') }}:</h4>

                    <label for="workday-rule-1">{{ _('Family with 1 kid') }}</label>
                    <input id="workday-rule-1" data-mini="true" type="number" class="cls-rule-value" placeholder="1">
                    <label for="workday-rule-2">{{ _('Family with 2 kids') }}</label>
                    <input id="workday-rule-2" data-mini="true" type="number" class="cls-rule-value" placeholder="1.2">
                    <label for="workday-rule-3">{{ _('Family with 3 kid') }}</label>
                    <input id="workday-rule-3" data-mini="true" type="number" class="cls-rule-value" placeholder="1.4">
            </div>

            <input type="button" class="act-rule-nextstep clsnextstep" value="{{ _('Next step') }}">
        </div>



{% endblock %}


{% block afterinclude %}
    <script src="/static/js/rule/rule.js"></script>
{% endblock %}
