<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vikarie Kalendar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

   <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<body>

<div data-role="page" id="base">

	<div data-role="header">
        <button class="ui-btn ui-btn-inline ui-corner-all act-home ui-icon-home ui-btn-icon-notext">Home</button>
        <button class="ui-btn ui-btn-inline ui-corner-all act-log-in ">Log in</button>
        <button class="ui-btn ui-btn-inline ui-corner-all act-sign-up ">Sign up</button>

	</div><!-- /header -->

	<div role="main" class="ui-content">
		{% block content %}

        {% endblock %}
	</div><!-- /content -->

	<div data-role="footer">
        <h3>© Copyright 2016, Bigatad AB. All rights reserved.</h3>
	</div><!-- /footer -->
</div><!-- /page -->


</body>

<!--script src="/static/js/customload.js"></script-->
</html>