{% extends "base.html" %}


{% block content %}


    <!-- Actions -->
        <div class="ui-body ui-body-a ui-corner-all">
            <h3>{{ _('Create group') }}</h3>

                 <label for="text-1">{{ _('Name') }}:</label>
                 <input type="text" name="text-1" id="text-1" value="Gomorronsol">
                 <label for="text-3">{{ _('Type') }}:</label>
                 <select name="select-native-1" id="select-native-1">
                    <option value="1">{{ _('Forskola') }}</option>
                </select>
            <button class="ui-btn ui-shadow ui-btn-inline ui-corner-all act-save-group">{{ _('Save') }}</button>

        </div>



{% endblock %}