{% extends "base.html" %}


{% block content %}


        <div class="ui-body ui-body-a ui-corner-all">
            <h3>Invite</h3>
            <label for="textarea-enhanced">Add emails to invite to Gomorronsol group:</label>
            <textarea name="textarea-enhanced" id="textarea-enhanced" data-enhanced="true" class="ui-input-text ui-shadow-inset ui-body-inherit ui-corner-all" placeholder="separate emails by comma sign (,) "></textarea>
            <input type="button"  value="Send invites">
        </div>



{% endblock %}