{% extends "base.html" %}


{% block content %}


        <div class="ui-body ui-body-a ui-corner-all">
            <h3>Members of Gomorronsol</h3>
            <ul data-role="listview" data-autodividers="true" data-filter="true" data-inset="true">
                <li class=" ui-icon-delete ui-btn-icon-right"><a href="/">Adam Kinkaid</a></li>
                <li class=" ui-icon-delete ui-btn-icon-right"><a href="/">Alex Wickerham</a></li>
                <li class=" ui-icon-delete ui-btn-icon-right"><a href="/">Avery Johnson</a></li>
                <li class=" ui-icon-delete ui-btn-icon-right"><a href="/">Bob Cabot</a></li>
                <li class=" ui-icon-delete ui-btn-icon-right"><a href="/">Caleb Booth</a></li>
                <li class=" ui-icon-delete ui-btn-icon-right"><a href="/">Christopher.Adams@gmail.com</a></li>
                <li class=" ui-icon-delete ui-btn-icon-right"><a href="/">Culver James</a></li>
            </ul>
        </div>





{% endblock %}