{% extends "base.html" %}

{% block content %}

    <!-- Actions -->
        <div class="ui-body ui-body-a ui-corner-all">
            <h3>Rule - formula for work allocation</h3>
            <div data-role="controlgroup">
                <h4>Stand-in day rule:</h4>
                <button class="ui-btn ui-shadow ui-corner-all ">Family with 1 kid @ 1 day</button>
                 <button class="ui-btn ui-shadow ui-corner-all ">Family with 2 kids @ 2 days</button>
                 <button class="ui-btn ui-shadow ui-corner-all ">Family with 3 kids @ 2.2 days</button>
               </div>
             <div data-role="controlgroup">
                <h4>Work day rule:</h4>
                <button class="ui-btn ui-shadow ui-corner-all ">Family with 1 kid @ 1 day</button>
                 <button class="ui-btn ui-shadow ui-corner-all ">Family with 2 kids @ 1.2 days</button>
                 <button class="ui-btn ui-shadow ui-corner-all ">Family with 3 kids @ 2.2 days</button>
            </div>

            <input type="button" class="act-rule-nextstep clsnextstep" value="Next step">
        </div>



{% endblock %}