{% extends "base.html" %}

{% block content %}

    <!-- Actions -->
        <div class="ui-body ui-body-a ui-corner-all">
            <h3>Rule - formula for work allocation</h3>
            <div data-role="controlgroup" data-type="horizontal">
                <button class="ui-btn ui-shadow ui-corner-all ">Stand-in day rule: 1.5 days per child</button>
               </div>
             <div data-role="controlgroup" data-type="horizontal">
              
                <button class="ui-btn ui-shadow ui-corner-all ">Work day rule: 1 day per child</button>
            </div>

            <input type="button" class="act-rule-nextstep" value="Next step">
        </div>



{% endblock %}