{% extends "base.html" %}


{% block content %}


    <!-- Actions -->
        <div class="ui-body ui-body-a ui-corner-all">
            <h3>Summon</h3>
            <input type="button" data-icon="edit" value="Create summon">
            <div data-role="controlgroup" data-type="horizontal">
                <a href="#" class="ui-btn ui-corner-all ui-icon-delete ui-btn-icon-right">On 23rd Dec, stand-in needed between 9 AM till 4:30 PM</a>
            </div>
            <div data-role="controlgroup" data-type="horizontal">
                <a href="#" class="ui-btn ui-corner-all ui-icon-delete ui-btn-icon-right">On 29th Dec, stand-in needed between 2 PM till 4:30 PM</a>
            </div>
        </div>



{% endblock %}