{% extends "base.html" %}


{% block content %}


    <!-- Actions -->
        <div class="ui-body ui-body-a ui-corner-all">
            <h3>{{ _('Term') }}</h3>
            <input type="button" data-icon="edit" value="{{ _('Create term') }}">
            <div>
                <div class="ui-grid-a">
                    <div class="ui-block-a"><div class="ui-bar ui-bar-a" style="height:60px">VT 2016</div></div>
                    <div class="ui-block-b"><div class="ui-bar ui-bar-a" style="height:60px">{{ _('15 families with 1 kids') }}</div></div>
                </div><!-- /grid-a -->
                <div class="ui-grid-a">
                    <div class="ui-block-a"><div class="ui-bar ui-bar-a" style="height:60px">Jan to Jul 2016</div></div>
                    <div class="ui-block-b"><div class="ui-bar ui-bar-a" style="height:60px">{{ _('5 families with 2 kids') }}</div></div>
                </div><!-- /grid-a -->

                <div class="ui-grid-a">
                    <div class="ui-block-a"><div class="ui-bar ui-bar-a" style="height:60px">{{ _('Total kids: 31') }}</div></div>
                    <div class="ui-block-b"><div class="ui-bar ui-bar-a" style="height:60px">{{ _('2 families with 3 kids') }}</div></div>
                </div><!-- /grid-a -->
            </div>

            <input type="button" class="act-term-nextstep clsnextstep" value="{{ _('Next step') }}">
        </div>



{% endblock %}