{% extends "base.html" %}


{% block content %}


    <!-- Actions -->
        <div class="ui-body ui-body-a ui-corner-all">
            <h3>Work-day</h3>
            <input type="button" data-icon="edit" value="Create work-day">
            <div data-role="controlgroup" data-type="horizontal">
                <a href="#" class="ui-btn ui-corner-all ui-icon-delete ui-btn-icon-right">On 8th Dec, 2 stand-in's needed between 9 AM till 4:30 PM</a>
            </div>

            <input type="button" class="act-workday-nextstep clsnextstep" value="Next step">
        </div>



{% endblock %}