{% extends "base.html" %}


{% block content %}

    <div class="ui-body ui-body-a ui-corner-all">
        <h3>{{ _('Sign-up as stand-in for') }} Gomorronsol</h3>

        <fieldset data-role="controlgroup" data-type="horizontal">
            <legend>{{ _('Term') }}:</legend>
            <input type="radio" name="radio-choice-h-2" id="radio-choice-h-2a" value="on" checked="checked">
            <label for="radio-choice-h-2a">VT2016</label>
            <input type="radio" name="radio-choice-h-2" id="radio-choice-h-2b" value="off">
            <label for="radio-choice-h-2b">HT2016</label>
        </fieldset>

        <div data-role="collapsible" data-collapsed="true">
            <h4>{{ _('Fill 4 Stand-in days') }}</h4>
            <ul data-role="listview">
                <li><input type="checkbox" data-role="flipswitch" name="flip-checkbox-3" id="flip-checkbox-1" data-on-text="20th Oct" data-off-text="20th Oct" data-wrapper-class="custom-size-flipswitch"></li>
                <li><input type="checkbox" data-role="flipswitch" name="flip-checkbox-3" id="flip-checkbox-2" data-on-text="29th Oct" data-off-text="29th Oct" data-wrapper-class="custom-size-flipswitch"></li>
                <li><input type="checkbox" data-role="flipswitch" name="flip-checkbox-3" id="flip-checkbox-3" data-on-text="5th Nov" data-off-text="5th Nov" data-wrapper-class="custom-size-flipswitch"></li>
                <li><input type="button" value="more" class="ui-icon-carat-d ui-btn-icon-right"></li>
            </ul>
        </div>
        <div data-role="collapsible" data-collapsed="true">
            <h4>{{ _('Fill 1 Work day') }}</h4>
            <ul data-role="listview">
                <li><input type="checkbox" data-role="flipswitch" name="flip-checkbox-3" id="flip-checkbox-4" data-on-text="22th Oct" data-off-text="20th Oct" data-wrapper-class="custom-size-flipswitch"></li>
                <li><input type="checkbox" data-role="flipswitch" name="flip-checkbox-3" id="flip-checkbox-5" data-on-text="19th Oct" data-off-text="29th Oct" data-wrapper-class="custom-size-flipswitch"></li>
                <li><input type="checkbox" data-role="flipswitch" name="flip-checkbox-3" id="flip-checkbox-6" data-on-text="15th Nov" data-off-text="5th Nov" data-wrapper-class="custom-size-flipswitch"></li>
                <li><input type="button" value="more" class="ui-icon-carat-d ui-btn-icon-right"></li>
            </ul>
        </div>
    </div>



{% endblock %}