<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vikarie Kalendar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/css/themes/dark-orange/dark-orange.min.css" />
<link rel="stylesheet" href="/static/css/themes/dark-orange/jquery.mobile.icons.min.css" />
   <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

<link rel="stylesheet" href="/static/css/work_step.css"/>
<body>

<div data-role="page" id="base">

	<div data-role="header">
        <div class="ui-btn-left">
            <button class="ui-btn ui-btn-inline ui-corner-all act-home ui-icon-home ui-btn-icon-notext">Home</button>
        </div>
         <h1>vikarie kalender</h1>
        <div class="ui-btn-right">
            <button class="ui-btn ui-btn-inline ui-corner-all act-username " data-role="none">un</button>
            <!--button class="ui-btn ui-btn-inline ui-corner-all act-log-in ">Log in</button>
            <button class="ui-btn ui-btn-inline ui-corner-all act-sign-up  ">Sign up</button-->
        </div>
	</div><!-- /header -->

	<div role="main" class="ui-content">
        <div class="act-work-step">
            <ol class="etapier">
                <li class="steps step-invite todo">{{ _('Invite') }}</li>
                <li class="steps step-work-day todo">{{ _('Work day') }}</li>
                <li class="steps step-rule todo">{{ _('Rule') }}</li>
                <li class="steps step-term todo">{{ _('Term') }}</li>
                <li class="steps step-done todo">{{ _('Done') }}</li>
            </ol>
        </div>
		{% block content %}

        {% endblock %}
	</div><!-- /content -->

	<div data-role="footer">
        <h3>© Copyright 2016, Bigatad AB. All rights reserved.</h3>
	</div><!-- /footer -->
</div><!-- /page -->


<script src="/static/js/draft/demo-flow.js"></script>
<script src="/static/js/jquery.cookie.js"></script>
{% block afterinclude %}

{% endblock %}
</body>

</html>